useDynLib(l2inv)
export(esl2dinv,sl2inv,esl2dinvseq,sl2invseq,
       esl2dinvopt,sl2invopt,esl2dinvseqopt,
       sl2invseqopt,esl2dinvseqtr,sl2invseqtr,
       esl2dinvseqopttr,sl2invseqopttr,
       illuExactEI, illuApproxEI, illuMCMVEI,
       illuApproxMVEI,oeiinfo,
       cmpnaiveesl2d,cmpnaiveesl2dopt,
       svdgpsepms,esl2dtraceEI)
importFrom(parallel,makeCluster)
importFrom(parallel,parApply)
importFrom(parallel,stopCluster)
importFrom(lhs,maximinLHS)
importFrom(rgenoud,genoud)
