useDynLib(l2inv)

export(l2inv,ojsinv,lrinv,
       l2invseq,ojsinvseq,
       lrinvseq,histMatch,
       l2invseqtr,ojsinvseqtr,
       lrinvseqtr,l2invseqset,
       ojsinvseqset,lrinvseqset,
       histMatchset,l2invseqtrace,
       ojsinvseqtrace,lrinvseqtrace,
       svdgpsepms,l2invseqsettr,
       ojsinvseqsettr,illuExactEI,
       illuApproxEI,illuMCMVEI,
       illuApproxMVEI,oeiinfo,
       l2invseqwithsp)
importFrom(parallel,makeCluster)
importFrom(parallel,parApply)
importFrom(parallel,stopCluster)
importFrom(lhs,maximinLHS)
importFrom(lhs,randomLHS)
importFrom(gss,ssanova)
